<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334013357298-4dnc923c76dm3d0ma1nmo7qu1ur5l4e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334013357298-4dnc923c76dm3d0ma1nmo7qu1ur5l4e0</string>
	<key>API_KEY</key>
	<string>AIzaSyAv8IhTRlvwER0DgSQymWoCjxb_m_MiXzU</string>
	<key>GCM_SENDER_ID</key>
	<string>334013357298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.controlClient.simphony</string>
	<key>PROJECT_ID</key>
	<string>customer-control-489fe</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-control-489fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334013357298:ios:3f18814d3408e2fcec046b</string>
</dict>
</plist>